@font-face {
  font-family: "iconfont"; /* Project id 2849241 */
  src: url('iconfont.woff2?t=1633494347458') format('woff2'),
       url('iconfont.woff?t=1633494347458') format('woff'),
       url('iconfont.ttf?t=1633494347458') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai-password:before {
  content: "\e63e";
}

.icon-yonghuming:before {
  content: "\e689";
}

.icon-icon_huiyuan:before {
  content: "\e669";
}

.icon-wodehaoyou:before {
  content: "\e7c1";
}

.icon-grab:before {
  content: "\e601";
}

.icon-wodexiaoxi:before {
  content: "\e66c";
}

.icon-gerenzhuye:before {
  content: "\e7ef";
}

.icon-paixingbang:before {
  content: "\e7bd";
}

.icon-meirituijian-:before {
  content: "\e64b";
}

.icon-zhibo:before {
  content: "\e7d5";
}

.icon-gedan:before {
  content: "\e636";
}

.icon-diantai:before {
  content: "\e600";
}

